$color-brand: #D5621D;
$color-background: #210E09;
$color-background-light: #401b11; 
$color-background-dark: #1e0d08;
$color-light: #FFFFFF;
$color-tag: #210E09;
$color-hover: #d45d15;

$content-width: 1296px;
